:root {
    --bg-color: #353535;
    --bg-g-color: #F6F6F6; 
    --bg-v-color: #9356DC;
    --bg-r-color: #FF79DA;
    --icon-color: #7E7E7E;
}


.menu {
    background-color: var(--bg-g-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1em;
    /* padding-right: 1em; */
    gap: 40px;
    padding-bottom: 40px;
}

.menu article {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.menu-card {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1em;
    border-radius: 1em;
}

.menu-text {
    display: flex;
    flex-direction: column;
}

.menu-text h3 {
    font-size: 18px;
}

.menu-text p {
    font-size: 15px;
}

/* .menu-prix {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
} */



@media screen and (min-width: 834px) and (max-width: 1024px) {
    
}

@media screen and (min-width: 1025px) {
    
}