:root {
  --bg-color: #353535;
  --bg-g-color: #F6F6F6;
  --bg-v-color: #9356DC;
  --bg-r-color: #FF79DA;
  --icon-color: #7E7E7E;
}

/*********** Header ***********/
header i {
  position: absolute;
  left: 17px;
  top: 22px;
  font-size: 30px;
}

/*********** Menu ***********/
.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu img {
  top: 30px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 300px;
}
.menu .menu-list {
  padding: 40px 0;
  width: 100%;
  max-width: 1055px;
  position: relative;
  bottom: 40px;
  background-color: var(--bg-g-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  border-radius: 30px;
}
.menu .menu-list .menu-titre {
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
}
.menu .menu-list article {
  width: 85%;
  padding: 1em;
  max-width: 634px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.menu .menu-list article h2 {
  position: relative;
  font-weight: 300;
  font-size: 16px;
  text-transform: uppercase;
}
.menu .menu-list article h2::before {
  content: "";
  position: absolute;
  bottom: -6px;
  width: 43px;
  height: 4px;
  background-color: #99E2D0;
}
.menu .menu-list article .menu-card {
  background-color: white;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 1em;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.menu .menu-list article .menu-card .menu-text {
  display: flex;
  flex-direction: column;
  padding: 1em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu .menu-list article .menu-card .menu-text h3 {
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 18px;
}
.menu .menu-list article .menu-card .menu-text p {
  font-size: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu .menu-list article .menu-card .menu-prix {
  padding: 1em;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.menu .menu-list article .menu-card .menu-check {
  margin-right: -65px;
  width: 65px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 0 1em 1em 0;
  background-color: #99E2D0;
  opacity: 0;
  transition: 0.4s;
}
.menu .menu-list article .menu-card .menu-check svg {
  fill: white;
  color: #99E2D0;
}
.menu .menu-list article .menu-card:hover .menu-check {
  margin-right: 0;
  opacity: 1;
}

@media screen and (min-width: 834px) and (max-width: 1024px) {
  .menu .menu-list .menu-titre {
    justify-content: center;
    gap: 2em;
  }
  .menu .menu-list article {
    width: 100%;
  }
  .menu .menu-list article .menu-card {
    max-width: none;
  }
}
@media screen and (min-width: 1025px) {
  .menu .menu-list .menu-titre {
    justify-content: center;
    gap: 2em;
  }
  .menu .menu-list article {
    width: 100%;
  }
  .menu .menu-list article .menu-card {
    max-width: none;
  }
}