:root {
    --bg-color: #353535;
    --bg-g-color: #F6F6F6; 
    --bg-v-color: #9356DC;
    --bg-r-color: #FF79DA;
    --icon-color: #7E7E7E;
}

$color-principal: #9356DC;
$color-secondaire: #FF79DA; 
$light-color-principal: lighten($color-principal, 5%);
$light-color-secondaire: lighten($color-secondaire, 5%); 
$melange1: linear-gradient(to top, $color-principal, $color-secondaire 80%);
$melange2: linear-gradient(to top, $light-color-principal, $light-color-secondaire 80%);

$bg-vert-clair-color: #99E2D0;
$bg-vert-fonce-color: #008766;


/*********** Header ***********/
header i {
    position: absolute;
    left: 17px;
    top: 22px;
    font-size: 30px;
}


/*********** Menu ***********/
.menu {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
        top: 30px;
        width: 100%;
        object-fit: cover;
        max-height: 300px;
    }

    .menu-list {
        padding: 40px 0;
        width: 100%;
        max-width: 1055px;
        position: relative;
        bottom: 40px;
        background-color: var(--bg-g-color);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        border-radius: 30px;
        
        .menu-titre {
            width: 90%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            // gap: 1em;
            font-size: 20px;
        }

        article {
            padding: 1em;
            // margin: 1em;
            // width: 100%;
            max-width: 634px;
            display: flex;
            flex-direction: column;
            gap: 12px;
        }

        .menu-card {
            background-color: white;
            display: flex;
            flex-direction: row;
            // justify-content: space-between;
            overflow: hidden;
            
            border-radius: 1em;
            box-shadow: 0px 4.011px 15.043px 0px rgba(0, 0, 0, 0.10);

            .menu-text {
                display: flex;
                flex-direction: column;
                padding: 1em;
                // text-overflow: ellipsis;

                h3 {
                    // overflow: hidden;
                    // text-overflow: ellipsis;
                    font-size: 18px;
                }
                

                p {
                    font-size: 15px;
                    // text-overflow: ellipsis;
                }
            }

            .menu-prix {
                padding: 1em;
                margin-left: auto;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
            }

            .menu-check {
                // height: 100%;
                margin-right: -65px;
                width: 65px;
                overflow: hidden;
                // position: absolute;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                border-radius: 0 1em 1em 0;
                background-color: $bg-vert-clair-color;
                opacity: 0;
                transition: 0.4s;
                
                svg {
                    fill: white;
                    color: $bg-vert-clair-color;
                }

                &::after {
                    content: '';

                }
            }

            &:hover,:focus {
                .menu-check {
                    margin-right: 0;
                    opacity: 1;
                }
            }
        }
    }
}





@media screen and (min-width: 834px) and (max-width: 1024px) {
    
}

@media screen and (min-width: 1025px) {
    .menu {

        .menu-list {
        
            .menu-titre {
                justify-content: center;
                gap: 2em;
            }

            article {
                width: 100%;
            }
        }
    }
}